fastapi==0.116.0
uvicorn==0.35.0
pydantic==2.11.7
python-jose==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
scikit-learn==1.7.0
joblib==1.5.1
pymongo==4.13.2
streamlit==1.46.1
requests==2.32.3
groq==0.30.0
google-api-python-client==2.176.0
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
pytrends==4.9.2
gTTS==2.5.4
